@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --animation-time: 4s;
  --body-bg-clr: #0e0e0e;
  --text-clr: #aeaeae;
  --radial-gradient-1: #1e1e1e;
  --radial-gradient-2: #000000;

  --shadow-clr: #2f2f2f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg-clr);
  color: var(--text-clr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto;
  max-width: 50rem;
}

.sub-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  /* box-shadow: 0px 0px 10px 1px var(--shadow-clr); */
  transition: all 1s linear;
}
.sub-btn-2 {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
}

.sub-btn-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  transition: all 1s linear;
  overflow: hidden;
}
.sub-btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  transition: all 1s linear;
  overflow: hidden;
}

.bg-loader {
  position: absolute;
  opacity: 0.2;
  scale: 2;
  top: 50%;
  transform: translate(0, 40%);
  animation: line-loader 4s linear infinite;
}

.bg-wave-loader-1 {
  position: absolute;
  opacity: 0.2;
  scale: 2;
  translate: 0% 80%;
  transform-origin: 50% 50%;
  animation: wave-loader-1 5s linear infinite;
}
.bg-wave-loader-2 {
  position: absolute;
  fill: red;
  opacity: 0.2;
  scale: 2;
  translate: 0% 80%;
  transform-origin: 50% 50%;
  animation: wave-loader-2 5s linear infinite;
}

.loader {
  stroke-dasharray: 230;
  stroke-dashoffset: 0;
  fill: none;
  stroke: var(--text-clr);
  stroke-width: 0.8rem;
  height: 0px;
  height: 0px;
  animation: loader var(--animation-time) linear infinite, display 0.2s linear;
  transition: all 1s;
}

.loader-open {
  height: 30px;
  width: 30px;
}

.rectangle {
  opacity: 1;
  fill: none;
  stroke-width: 0.3rem;
  stroke-dasharray: 220;
}

.rect-1 {
  animation: rect1 var(--animation-time) linear infinite;
}

.rect-2 {
  animation: rect2 var(--animation-time) linear infinite;
}

.arrow-container-1 {
  cursor: pointer;
  transform: scalex(-1);
}
.arrow-container-2 {
  cursor: pointer;
}

.arrow-container-1:hover #Polygon3 {
  translate: 100% 0%;
}
.arrow-container-1:hover #Polygon1 {
  translate: 0% 0%;
}
.arrow-container-1:hover #Polygon2 {
  translate: 15% 0%;
}
.arrow-container-2:hover #Polygon3 {
  translate: 100% 0%;
}
.arrow-container-2:hover #Polygon1 {
  translate: 0% 0%;
}
.arrow-container-2:hover #Polygon2 {
  translate: 15% 0%;
}

#Polygon1 {
  translate: -100% 0%;
  transition: all 0.5s;
}
#Polygon2 {
  transition: all 0.5s;
}
#Polygon3 {
  translate: 15% 0%;
  transition: all 0.5s;
}

.line-arrow-1 {
  stroke: white;
  cursor: pointer;
  transform: scaleX(-1);
}
.line-arrow-2 {
  stroke: white;
  cursor: pointer;
}
#Line1,
#arrow {
  transition: all 0.5s;
}
#Line1 {
  opacity: 0;
}

.line-arrow-1:hover #Line1 {
  transform: translate(40%, 0%);
  opacity: 1;
}
.line-arrow-1:hover #arrow {
  transform: translate(7%, 0%);
}
.line-arrow-2:hover #Line1 {
  transform: translate(40%, 0%);
  opacity: 1;
}
.line-arrow-2:hover #arrow {
  transform: translate(7%, 0%);
}

@keyframes arrow-line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rect1 {
  0% {
    stroke: var(--text-clr);
    stroke-dashoffset: 220;
  }
  100% {
    stroke: var(--text-clr);
    stroke-dashoffset: 0;
  }
}
@keyframes rect2 {
  0% {
    stroke: var(--text-clr);
    stroke-dashoffset: -220;
  }
  100% {
    stroke: var(--text-clr);
    stroke-dashoffset: 0;
  }
}
@keyframes loader {
  0% {
    stroke-dashoffset: 230;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes display {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 30px;
    width: 30px;
  }
}
@keyframes line-loader {
  0% {
    transform: translate(0, 40%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes wave-loader-1 {
  0% {
    translate: 0% 90%;
    rotate: 0deg;
  }

  100% {
    translate: 0% -20%;
    rotate: 360deg;
  }
}
@keyframes wave-loader-2 {
  0% {
    translate: 0% 90%;
    rotate: 30deg;
  }

  100% {
    translate: 0% -20%;
    rotate: 390deg;
  }
}
