@tailwind base;
@tailwind utilities;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --loader-time: 4s;
  --loader-time-2: 3s;
  --body-bg-clr: #131313;
  --text-clr: #aeaeae;
  --radial-gradient-1: #1e1e1e;
  --radial-gradient-2: #000000;
  --primary: rgba(255, 250, 209, 0.4);
  --secondary: rgba(255, 44, 143, 0.4);

  --shadow-clr: #2f2f2f;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.toggle-2,
.toggle-1,
.arrow-1,
.arrow-2,
.arrow-3,
.arrow-4 {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg-clr);
  color: var(--text-clr);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto;
  max-width: 90vw;
}

/*********************************************************************/

/*Loader on Click - 1 */

.sub-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  transition: all 1s linear;
}

.loader {
  stroke-dasharray: 230;
  stroke-dashoffset: 0;
  fill: none;
  stroke: var(--text-clr);
  stroke-width: 0.8rem;
  height: 0px;
  height: 0px;
  animation: loader var(--loader-time) linear infinite, display 0.2s linear;
  transition: all 1s;
}

@keyframes loader {
  0% {
    stroke-dashoffset: 230;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.loader-open {
  height: 30px;
  width: 30px;
}

/**********************************************************************/

/*Loader on Click - 2*/
.sub-btn-2 {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
}

.rectangle {
  opacity: 1;
  fill: none;
  stroke-width: 0.3rem;
  stroke-dasharray: 220;
}

.rect-1 {
  animation: rect1 var(--loader-time) linear infinite;
}

.rect-2 {
  animation: rect2 var(--loader-time) linear infinite;
}

@keyframes rect1 {
  0% {
    stroke: var(--text-clr);
    stroke-dashoffset: 220;
  }
  100% {
    stroke: var(--text-clr);
    stroke-dashoffset: 0;
  }
}
@keyframes rect2 {
  0% {
    stroke: var(--text-clr);
    stroke-dashoffset: -220;
  }
  100% {
    stroke: var(--text-clr);
    stroke-dashoffset: 0;
  }
}

/**********************************************************************/

/*Loader on Click - 3*/

.sub-btn-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  transition: all 1s linear;
  overflow: hidden;
}

.bg-loader {
  position: absolute;
  opacity: 0.2;
  scale: 2;
  top: 50%;
  transform: translate(0, 40%);
  animation: line-loader 4s linear infinite;
}

@keyframes line-loader {
  0% {
    transform: translate(0, 40%);
  }

  100% {
    transform: translate(0, 0);
  }
}

/**********************************************************************/

/*Loader on Click - 4*/

.sub-btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0.6rem;
  padding: 1rem 1.6rem;
  background: radial-gradient(
    var(--radial-gradient-1),
    var(--radial-gradient-2)
  );
  border-radius: 10rem;
  transition: all 1s linear;
  overflow: hidden;
}

.bg-wave-loader-1 {
  position: absolute;
  opacity: 0.2;
  scale: 2;
  translate: 0% 80%;
  transform-origin: 50% 50%;
  animation: wave-loader-1 5s linear infinite;
}
.bg-wave-loader-2 {
  position: absolute;
  fill: red;
  opacity: 0.2;
  scale: 2;
  translate: 0% 80%;
  transform-origin: 50% 50%;
  animation: wave-loader-2 5s linear infinite;
}

@keyframes wave-loader-1 {
  0% {
    translate: 0% 90%;
    rotate: 0deg;
  }

  100% {
    translate: 0% -20%;
    rotate: 360deg;
  }
}
@keyframes wave-loader-2 {
  0% {
    translate: 0% 90%;
    rotate: 30deg;
  }

  100% {
    translate: 0% -20%;
    rotate: 390deg;
  }
}
/******************************************************************************/

/*Arrows on Hover - 1*/

.arrow-container-1 {
  cursor: pointer;
  transform: scalex(-1);
}
.arrow-container-2 {
  cursor: pointer;
}

.arrow-container-1:hover #Polygon3 {
  translate: 100% 0%;
}
.arrow-container-1:hover #Polygon1 {
  translate: 0% 0%;
}
.arrow-container-1:hover #Polygon2 {
  translate: 15% 0%;
}
.arrow-container-2:hover #Polygon3 {
  translate: 100% 0%;
}
.arrow-container-2:hover #Polygon1 {
  translate: 0% 0%;
}
.arrow-container-2:hover #Polygon2 {
  translate: 15% 0%;
}

#Polygon1 {
  translate: -100% 0%;
  transition: all 0.5s;
}
#Polygon2 {
  transition: all 0.5s;
}
#Polygon3 {
  translate: 15% 0%;
  transition: all 0.5s;
}

/****************************************************************************/

/*Arrows on Hover - 2*/

.line-arrow-1 {
  stroke: white;
  cursor: pointer;
  transform: scaleX(-1);
}
.line-arrow-2 {
  stroke: white;
  cursor: pointer;
}
#Line1,
#arrow {
  transition: all 0.5s;
}
#Line1 {
  opacity: 0;
}

.line-arrow-1:hover #Line1 {
  transform: translate(40%, 0%);
  opacity: 1;
}
.line-arrow-1:hover #arrow {
  transform: translate(7%, 0%);
}
.line-arrow-2:hover #Line1 {
  transform: translate(40%, 0%);
  opacity: 1;
}
.line-arrow-2:hover #arrow {
  transform: translate(7%, 0%);
}

/************************************************************************************************/

/*Toggle - 1*/

.sVisible {
  opacity: 1;
}
.sHide {
  opacity: 0;
  transform: translate(-58%, 0%);
}
.mVisible {
  opacity: 1;
}
.mHide {
  opacity: 0;
  transform: translate(58%, 0%);
}

.sun,
.moon {
  transition: all 0.5s;
}

/***************************************************************************************/

/*Toggle - 2*/

.stateTrue {
  animation: stateTrue 0.5s linear;
  animation-fill-mode: forwards;
}
.stateFalse {
  animation: stateFalse 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes stateTrue {
  0% {
    width: 30px;
  }
  50% {
    width: 60px;
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(56%, 0%);
    width: 30px;
  }
}
@keyframes stateFalse {
  0% {
    width: 30px;
    transform: translate(56%, 0%);
  }
  50% {
    width: 60px;
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
    width: 30px;
  }
}

.white {
  animation: whiteColor 0.5s linear;
  animation-fill-mode: forwards;
}
.black {
  animation: blackColor 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes whiteColor {
  0% {
    fill: black;
  }
  50% {
    fill: black;
  }
  100% {
    fill: white;
  }
}
@keyframes blackColor {
  0% {
    fill: white;
  }
  50% {
    fill: white;
  }
  100% {
    fill: black;
  }
}

/**************************************************************************************/

/*Loader - 1*/

.loader-1 {
  left: 39%;
}
.shape1 {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);

  border-radius: 60% 90% 50% 70% / 60% 70% 70% 90%;
  animation: morph1 3s linear infinite backwards;
}
@keyframes morph1 {
  0% {
    border-radius: 60% 90% 50% 70% / 60% 70% 70% 90%;
    transform: rotate(0deg);
    transform: translate(5%, 5%);
  }
  50% {
    border-radius: 60% 70% 70% 90% / 60% 90% 50% 70%;
    transform: translate(10%, 10%);
  }
  100% {
    border-radius: 60% 90% 50% 70% / 60% 70% 70% 90%;
    transform: rotate(360deg);
    transform: translate(5%, 5%);
  }
}
.shape2 {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(60deg, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 70% 50% 90% 60% / 90% 50% 80% 60%;
  animation: morph2 6s linear infinite backwards;
}
@keyframes morph2 {
  0% {
    border-radius: 70% 50% 90% 60% / 90% 50% 80% 60%;
    transform: rotate(0deg);
    transform: translate(-10%, 10%);
  }
  50% {
    border-radius: 90% 60% 80% 70% / 90% 70% 80% 60%;
    transform: translate(10%, 10%);
  }
  100% {
    border-radius: 70% 50% 90% 60% / 90% 50% 80% 60%;
    transform: rotate(360deg);
    transform: translate(-10%, 10%);
  }
}
.shape3 {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(230deg, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 100% 80% 70% 50% / 80% 90% 50% 60%;
  animation: morph3 5s linear infinite backwards;
}
@keyframes morph3 {
  0% {
    border-radius: 100% 80% 70% 50% / 80% 90% 50% 60%;
    transform: rotate(0deg);
    transform: translate(-10%, 0%);
  }
  50% {
    border-radius: 90% 90% 60% 80% / 80% 60% 60% 90%;
    transform: translate(0%, 10%);
  }
  100% {
    border-radius: 100% 80% 70% 50% / 80% 90% 50% 60%;
    transform: rotate(-360deg);
    transform: translate(-10%, 0%);
  }
}

/************************************************************************************************/

/*Loader - 2 */

.loader2 {
  animation: loader2 3s linear infinite;
}

@keyframes loader2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader2rect {
  fill: var(--body-bg-clr);
  animation: loader2rect 3s linear infinite;
}
@keyframes loader2rect {
  0% {
    width: 30px;
  }
  25% {
    width: 60px;
    transform: translate(0%, 0%);
  }
  49% {
  }
  50% {
    transform: translate(56%, 0%);
    width: 30px;
  }
  75% {
    width: 60px;
    transform: translate(0%, 0%);
  }
  99% {
  }
  100% {
    transform: translate(0%, 0%);
    width: 30px;
  }
}

/*************************************************************************/
@media screen and (max-width: 640px) {
  body {
    margin: 2rem;
  }
  .sub-1,
  .sub-2,
  .sub-3,
  .toggle,
  .arrows,
  .loader-cont {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .toggle {
    text-align: center;
  }
}
